.modal__overlay {
    /*задний фон при нажатии, плюс пространство 
    работы, для всплывашки не использую*/
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.modal{
    /*само окно*/
    width:clamp(200px, 5%, 300px);
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px;
    padding: 15px 10px;
    position: absolute;
    left: 3px;
    bottom: 50px;
    word-break: break-all;
}

.modal__header button{
    /*Кнопка закрыть*/
    border: none;
    background: none;
    position: absolute;
    right: 3px;
    top:3px;
    font-size: 1.5rem;
    cursor: pointer;
}

