.button{
    background-color: gray;
    color:azure;
    border:1px;
    height: 30px;
}

.button2{
    background-color: gray;
    color:azure;
    border:1px;
    height: 30px;
    position: relative;
    left: 10px;
}