
.myClassH1{
    color: red;
    text-align: center;
}
.myClassP1{
    color: greenyellow;
    text-align: center;
    cursor:e-resize;
}
.myClass_1{
    color:blue;
    text-align: center;
    cursor:alias;
}
.myClass_2{
    color:aqua;
    text-align: right;
}
.myClass_3{
    color:blueviolet;
    text-align: left;
}